node_modules
dist
.DS_Store
public/specs/*
!public/specs/.gitkeep
!public/specs/miniapp.yaml
!public/specs/miniapp-graphql-v1.graphql
!public/specs/proto
!public/specs/proto/**
!public/specs/proto-index.json
